<h2><%= "Hello " + @user.name%></h2>
<p>
Welcome to digital compaign , This is app owner and you can avail our all services free of cost.</p>
<p>
Thanks,
<p>
Use below email for any query:
</p>
abc#gmail.com
</p>	
</p>
</p>